.myButton {
  font-weight: 900;
  color: #F0DCCA;
  padding: 10px 20px;
  background-color: #550a16;
  border: 2px solid #a1653d;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

}

.myButton:hover {
  background-color: #c0a18c;
}

.myButton:active {
  background-color: #4b250c;
  color: white;
}